<div class="modal" id="modal" aria-hidden="true" data-modal>
	<div class="modal__wrap">
		<div class="modal__window" role="dialog" aria-modal="true" data-modal-window>
			<div class="modal__content">
				<div class="modal__title">
					Модальное окно
				</div>
			</div>
			<button type="button" class="modal__close" title="Закрыть" aria-label="Закрыть окно" data-modal-close>
				<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.25 1.8075L10.1925 0.75L6 4.9425L1.8075 0.75L0.75 1.8075L4.9425 6L0.75 10.1925L1.8075 11.25L6 7.0575L10.1925 11.25L11.25 10.1925L7.0575 6L11.25 1.8075Z"/>
				</svg>
			</button>
		</div>
	</div>
</div>
