/* ------- Footer ------- */
.footer {
    flex-shrink: 0;
    padding: 2rem 0;
    width: 100%;
    color: $white;
    background: $black;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem 3rem;

        @include media(mob-m) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
