---
import { Icon } from 'astro-icon';
---

<footer class="footer">
	<div class="footer__container container">
		<div class="footer__left">
			<div class="footer__logoWrapper"> 
				<a href="#" class="footer__logo logo"><img class="logo__img" src="/public/images/logo.svg" alt=""></a> 
			</div>
		</div>
		<div class="footer__right">
			<div class="footer__copyright">&copy; Devstart</div>
		</div> 
	</div>
</footer>
