---
import { Icon } from 'astro-icon';
---
<header class="header">
	<div class="header__inner">
		<div class="header__container container">
			<div class="header__left"> 
				<div class="header__logoWrapper">
					<a href="#" class="header__logo logo"><img class="logo__img" src="/public/images/logo.svg" alt=""></a> 
				</div>
			</div>
			<div class="header__right">
				<button class="header__button button">Button</button>
			</div>
		</div>
	</div>
</header>
